
<p id="notice"><%= notice %></p>
    <% @burns.each do |burn| %>
      <div class="row regina_color mt-2">
          <div class="col-4">
            <%= user_image_display %>
          </div>
        <div class="col-8">
          <%= user_data_display(burn)%>
          <div class="row">
            <%= burn.burn %>
          </div>

          <%= user_link_display(burn) %>
          
        </div>
      </div>
      <section>
    <% end %>
