<%= form_with(model: burn, local: true) do |form| %>
  <% if burn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(burn.errors.count, "error") %> prohibited this burn from being saved:</h2>

      <ul>
        <% burn.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :burn %>
    <%= form.text_area :burn %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
