<p id="notice"><%= notice %></p>

<h1>Burns</h1>

<table>
  <thead>
    <tr>
      <th>Burn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @burns.each do |burn| %>
      <tr>
        <td><%= burn.burn %></td>
        <td><%= link_to 'Show', burn %></td>
        <td><%= link_to 'Edit', edit_burn_path(burn) %></td>
        <td><%= link_to 'Destroy', burn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Burn', new_burn_path %>
